{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>
        <font face="Segoe Print" , size="5">
            Esports-shop.com
        </font> 
   </h1>
    <p class="lead">
        <font face="Segoe Print" , size="5">
            The singular shop in russia about esports devices
        </font>
    </p>
    <p><a href="https://images8.alphacoders.com/661/661568.jpg" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            <font face="Segoe Print">
                Processors
            </font>
        </h2>
        <p>
            <font face="Segoe Print" , size="5">
               The best processors right here
            </font>       
        </p>
        <p><a href="https://www.dns-shop.ru/catalog/17a899cd16404e77/processory/" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            <font face="Segoe Print">
                Videocards
            </font>
        </h2>
        <p>
            <font face="Segoe Print" , size="5">
                Fucking Awesome cards, only for you
            </font>
        </p>
        <p><a href="https://www.dns-shop.ru/search/?q=%D0%B2%D0%B8%D0%B4%D0%B5%D0%BE%D0%BA%D0%B0%D1%80%D1%82%D1%8B&category=17a89aab16404e77" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            <font face="Segoe Print">
                Devices
            </font>
        </h2>
        <p>
            <font face="Segoe Print" , size="5">
                Steelseries, Logitech, Zowie, Xtrfy, Razer, HyperX and etc.
            </font>
        </p>
        <p><a href="https://4frag.ru/" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>
<body> 
    


</body>



{% endblock %}
